/* main.css */

/* Importierungen */
@import "typography.css";
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');

/* Variablen */
:root {
    --primary-color: #3498db;
    --secondary-color: #2c3e50;
    --text-color: #333;
    --background-color: #f4f4f4;
}

/* Tag-Selektoren */
body {
    font-family: 'Orbitron', sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    cursor: none;
}

h1,
h2,
h3 {
    color: var(--secondary-color);
}

a {
    cursor: none;
}

header {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    text-wrap: nowrap;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    opacity: 0.8;
}

label {
    cursor: none;
}

footer {
    background-color: var(--secondary-color);
    color: white;
    padding: 0.5rem;
    font-size: 0.8rem;
    flex-shrink: 0;
}

/* Klassen-Selektoren */
.mushroom {
    position: fixed;
    top: 0;
    left: 0;
    width: 20px;
    height: auto;
    pointer-events: none;
    z-index: 10000;
    animation-name: mushroom_rotate;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    color: white;
    height: 100%;
}

.nav-toggle {
    display: none;
}

.background-img {
    position: fixed;
    bottom: 4rem;
    left: 1rem;
    width: 35%;
    max-width: 300px;
    /* Adjust this value as needed */
    z-index: -1;
    /* Place it behind other content */
}

.background-img img {
    width: 100%;
    height: auto;
    display: block;
}

.button-container {
    display: flex;
    justify-content: end;
}

/* ID-Selektoren */
#backtop {
    display: inline-block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: var(--primary-color);
    border-radius: 3px;
    text-align: center;
    transition: background-color 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
    opacity: 0;
    visibility: hidden;
    z-index: 9999;
}

#backtop .material-symbols-outlined {
    line-height: 40px;
}

#backtop:hover {
    cursor: none;
    background-color: var(--secondary-color);
}

#backtop:active {
    background-color: var(--background-color);
}

#backtop.show {
    opacity: 1;
    visibility: visible;
}

#contact-form input,
#contact-form textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--secondary-color);
    border-radius: 0.3rem;
    font-size: 1rem;
    font-family: orbitron, sans-serif;
    letter-spacing: 0.1rem;
}

#contact-form button {
    background-color: var(--primary-color);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.3rem;
    font-size: 1rem;
    font-family: orbitron, sans-serif;
    letter-spacing: 0.1rem;
    cursor: none;
}

#contact-form button:hover {
    background-color: var(--secondary-color);
}

/* Pseudoklassen und spezifische Stile */
nav ul li a.current:link,
nav ul li a.current:visited {
    color: white;
    text-decoration: underline;
    opacity: 1;
}

nav ul li a:hover {
    text-decoration: underline;
    opacity: 1;
}

nav ul li a:active {
    color: yellow;
    opacity: 1;
}

.material-symbols-outlined:active {
    color: var(--primary-color);
}

/* Animationen */
@keyframes mushroom_rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes mushroom-clicked {
    0% {
        transform: scale(1);
        opacity: 0.5;
    }

    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}

/* Media Queries */
@media (max-width: 900px) {

    header,
    main,
    footer {
        padding: 1rem;
    }

    .nav-toggle {
        display: block;
        background: none;
        border: none;
        margin-top: 2rem;
        cursor: none;
        transition: all 0.3s ease-in-out;
    }

    .nav-toggle:active,
    .nav-toggle:focus {
        outline: none;
    }

    .nav-toggle .material-symbols-outlined.arrow_down {
        display: block;
        margin: -20px 0 4px 0;
    }

    .nav-toggle .material-symbols-outlined.arrow_down:nth-child(1) {
        animation-delay: 1.6s;
    }

    .nav-toggle .material-symbols-outlined.arrow_down:nth-child(2) {
        animation-delay: 2.0s;
    }

    .nav-toggle .material-symbols-outlined.arrow_down:nth-child(3) {
        animation-delay: 2.4s;
    }

    .nav-toggle .material-symbols-outlined.arrow_down.open:nth-child(1) {
        animation-delay: 1.6s;
    }

    .nav-toggle .material-symbols-outlined.arrow_down.open:nth-child(2) {
        animation-delay: 2.0s;
    }

    .nav-toggle .material-symbols-outlined.arrow_down.open:nth-child(3) {
        animation-delay: 2.4s;
    }

    @keyframes flash-down {
        0% {
            opacity: 1;
            transform: translateY(-5px);
        }

        50% {
            opacity: 0.5;
            transform: translateY(-2.5px);
        }

        100% {
            opacity: 0;
            transform: translateY(0);
        }
    }

    @keyframes flash-up {
        0% {
            opacity: 1;
            transform: translateY(0);
        }

        50% {
            opacity: 0.5;
            transform: translateY(-2.5px);
        }

        100% {
            opacity: 0;
            transform: translateY(-5px);
        }
    }

    .nav-toggle .material-symbols-outlined.arrow_down {
        animation: flash-down 2s ease infinite;
    }

    .nav-toggle .material-symbols-outlined.arrow_down.open {
        animation: flash-up 2s ease infinite;
    }

    .nav-toggle.open {
        transform: rotate(180deg);
        margin: 0 0 1rem 0;
        transition: all 0.3s ease-in-out;
    }

    .menu-list {
        display: block;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
    }

    .menu-list.open {
        max-height: 18rem;
    }

    .mushroom {
        display: none;
    }
}