/* main.css */

/* Importierungen */
/* Import from styles/typography.css */
@import "typography.css";
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');

/* Grundlegende Stilisierung */
:root {
    --primary-color: #3498db;
    --secondary-color: #2c3e50;
    --text-color: #333;
    --background-color: #f4f4f4;
}

body {
    font-family: 'Orbitron', sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    color: var(--secondary-color);
}

/* Back to Top Button */
#backtop {
    display: inline-block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: var(--primary-color);
    border-radius: 3px;
    text-align: center;
    transition: background-color 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
    opacity: 0;
    visibility: hidden;
    z-index: 9999;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    color: white;
    height: 100%;
    line-height: 40px;
}

#backtop:hover {
    cursor: pointer;
    background-color: var(--secondary-color);
}

#backtop:active {
    background-color: var(--background-color);
}

.material-symbols-outlined:active {
    color: var(--primary-color);
}

#backtop.show {
    opacity: 1;
    visibility: visible;
}

/* Header Styles */
header {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    text-wrap: nowrap;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    opacity: 0.8;
}

a.current:link,
a.current:visited {
    color: white;
    text-decoration: underline;
    opacity: 1;
}

nav ul li a:hover {
    text-decoration: underline;
    opacity: 1;
}

nav ul li a:active {
    color: yellow;
    opacity: 1;
}

/* Footer Styles */
footer {
    background-color: var(--secondary-color);
    color: white;
    padding: 0.5rem;
    font-size: 0.8rem;
    flex-shrink: 0;
}

/* Responsive Design */
@media (max-width: 768px) {

    header,
    main,
    footer {
        padding: 1rem;
    }
}